<% layout('/layouts/boilerplate') %>
<style>
	.jumbotron {
		background: linear-gradient(rgba(70, 70, 70, 0.35), rgba(70, 70, 70, 0.35)),
			url(https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d9df10d159cc11074d9a7996e8aca442&auto=format&fit=crop&w=1500&q=80);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		min-height: 400px;
		margin-bottom: 0px;
	}

	.jumbotronText {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	}
	.has-search .form-control {
		padding-left: 2.375rem;
	}
</style>
<link rel="stylesheet" href="/stylesheets/pic-card.css" />

<header class="jumbotron text-light rounded-0 d-none d-md-block">
	<div class="container">
		<div class="jumbotron-text mt-5 text-center">
			<% if(noMatch !== null) { %>
			<h2 class="jumbotronText">
				No results for <span class="font-italic"><%= noMatch %></span>, try
				again.
			</h2>
			<% } else { %>
			<h1 class="display-3 jumbotronText">Welcome to ImageShare!</h1>
			<p class="lead jumbotronText">View pictures from all over the world</p>
			<% } %>
		</div>
	</div>
</header>
<nav
	id="searchNav"
	class="navbar navbar-expand navbar-light bg-white shadow-sm mb-4"
>
	<div class="container">
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto"></ul>
			<div class="d-none d-md-block">
				<form action="/pictures" method="GET" class="input-group">
					<input
						type="text"
						class="form-control"
						type="text"
						name="search"
						placeholder="Search Pictures..."
						aria-label="Search"
					/>
					<div class="input-group-append">
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>

<div class="container list-post">
	<% for (let picture of pictures) {%>
	<div class="mb-3">
		<div class="row ccard" id="<%= picture._id %>">
			<div class="author">
				<div class="avatar">
					<img src="<%=picture.author.avatar %>" alt="av" />
				</div>
				<a href="/users/<%=picture.author._id %>" class="username"
					><%= picture.author.username %></a
				>
			</div>
			<a href="/pictures/<%=picture._id%>" class="img">
				<span class="total-pic"><%=picture.images.length %></span>
				<%if(picture.images.length) {%>
				<img alt="" src="<%=picture.images[0].url%>" />
				<% }else {%>
				<img alt="" src="https://source.unsplash.com/random/1920x1080" />
				<% } %>
			</a>
			<div class="info">
				<h5 class="card-title"><%= picture.title %></h5>
				<p class="card-text"><%= picture.description %></p>
				<p class="card-text">
					<small class="text-muted">Location: <%= picture.location%></small>
				</p>
				<!-- <a class="btn btn-primary" href="/pictures/<%=picture._id%>"
					>View <%=picture.title%></a
				> -->
			</div>
			<div class="rating">
				<span class="material-icons-outlined star"> star </span>
				<span class="rate"><%= picture.reviews.mean %></span>
			</div>
		</div>
	</div>
	<% }%>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script src="/javascripts/loadImg.js"></script>
